.form-school{
    margin-top: 20px;
    border-radius: 5px;
    align-self: center;
    border: 1px solid rgb(255, 255, 255);
    background-color:rgb(188, 215, 228);
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}



.input-form{
    width: 100%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 4px;
  }

.button-submit{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    margin-right: 5px;
}

.button-exit{
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background-color: rgb(155, 0, 0);
    margin-left: 5px;
}

.btn{
    display:flex;
}

.button-exit:hover{
    background-color: rgb(110, 0, 0);
}


.button-submit:hover{
    background-color: grey;
}

.input-field{
    display: flex;
    margin-bottom: 12px;
}

.label {
    padding-top: 10px;
    text-align: left;
    width: 150px;
}

.form-app{
    display:inline
  }


table {
    border-collapse: collapse;
  }

  .btn-view {
    display: inline-block;
    border-radius: 4px;
    background-color: #03627a;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
.error{
    color: red;
}